.footer-links{
    display: flex;
    gap: 250px;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
}

.p{
    text-decoration: none;
    font-size: 15px;
    gap: 15px;
    margin: 20px;
    list-style: none;
}

.a {
    text-decoration: none;
}


footer a, .footer a, .about a, .info a {
    text-decoration: none !important;
    color: #333;
  }
  
  footer a:hover {
    text-decoration: none;
    color: gold;
  }

